.productWrapper .productLikeBlock {
    float:right !important;
}

.productWrapper .productBasketBlock {
    margin-left: 4px !important;
}

.allElementWrap {
    overflow: visible !important;
}

.old_price {
    font-size:14px;
    color: #ccc;
    text-decoration: line-through;
}

.elementTitle a {
    color: inherit;
}

.elementName .elementTitle {
    max-height:37px;
    overflow: hidden;
}

.basketButtonInvisible {
    display: none !important;
}

.allElementWrap .elementBlocksWrap .basketBody {
    border: 0 !important;
}

.table_previews {
	display: none !important;
}
