#history p{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
#history ul li:before{
    content:'';
}
#history b{
    color: #aaaaaa;
    font-family: 'MuseoSansCyrl-500';
    font-size: 16px;
}
#history > div{
    position: relative;
    clear: both;
    float: left;
}

.wrap_1 b{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.wrap_2{
    border: 1px solid #e0e0e0;
    padding: 20px;
    z-index: 8;
    margin-top: 40px;
}
.wrap_2 .image_border_1{
    position: absolute;
    top: -14px;
    left: -19px;
}
.wrap_2 .image_border_2{
    position: absolute;
    bottom: -26px;
    left: -19px;
}
.wrap_2 .image_border_3{
    position: absolute;
    top: -11px;
    right: -19px;
}
.wrap_2 .image_border_4{
    position: absolute;
    bottom: -34px;
    right: -19px;
}
.wrap_2 b{
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 150px;
}
.wrap_2 img{
    margin-top: -10px;
}
.wrap_2 .left_wrap img{
    padding: 0px 20px 15px 0px;
}
.wrap_2 .right_wrap img{
    padding: 0 30px 5px;
}
#history .wrap_2 p{
   margin-bottom: 10px;
}
.wrap_2 ul li{
    color: #aaa;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.5;
}
.wrap_2 ul li span{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}

.wrap_2 .left_wrap{
    float: left;
    width: 47%;
}
.wrap_2 .right_wrap{
    float: right;
    width: 48%;
}
.wrap_2 .inner{
    float: left;
    height: 440px;
    display: block;
    width: 2px;
    border-right: 2px dotted #d5d5d5;
    margin: 0 25px;
}
.wrap_3{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    z-index: 6;
}
.wrap_3 .image_border_5{
    position: absolute;
    bottom: -24px;
    left: -19px;
}
.wrap_3 .image_border_6{
    position: absolute;
    bottom: -26px;
    right: -19px;
}
.wrap_3 .left_wrap b{
    margin-bottom: 15px;
    margin-left: 20px;
    float: left;
}
.wrap_3 .left_wrap{
    float: left;
    width: 23%;
}
.wrap_3 .center_wrap{
    float: left;
    width: 45%;
}
.wrap_3 .center_wrap ul{
    margin-top: 0;
}
.wrap_3 .center_wrap ul li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin-left: 23px;
}
.wrap_3 .center_wrap ul li img{
    float: left;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    position: relative;
    margin-left: -26px;
}
.wrap_3 .center_wrap ul li:nth-child(1){
    margin-bottom: 20px!important;
}
.wrap_3 .center_wrap ul li:nth-child(7) img{
    margin-left: -40px;
}
.wrap_3 .center_wrap ul li:nth-child(10) img{
    margin-left: -32px;
}
.wrap_3 .center_wrap ul li span{
    clear: both;
    float: left;
    width: 78px;
    text-align: center;
    margin-bottom: 20px;
}
.wrap_3 .center_wrap b{
    text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
}
.wrap_3 .center_wrap li span{
    text-transform: uppercase;
    font-size: 11px;
}
.wrap_3 .right_wrap{
    float: right;
    width: 24%;
}
.wrap_3 .right_wrap b{
    float: left;
    width: 120px;
    margin-left: 40px;
}
.wrap_3 .right_wrap li{
   margin-bottom: 20px!important;
}
.wrap_3 ul{
    clear: both;
    margin-top: 22px;
    display: block;
    float: left;
}
.wrap_3 ul li{
    color: #aaa;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.5;
    font-family: "PT Serif";
    font-size: 16px;
}
.wrap_3 ul li span{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
.wrap_3 .inner{
    float: left;
    height: 290px;
    display: block;
    width: 2px;
    border-right: 2px dotted #d5d5d5;
    margin: 0 20px;
}
.wrap_4{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    z-index: 5;
}
.wrap_4 .image_border_7{
    position: absolute;
    bottom: -26px;
    left: -19px;
}
.wrap_4 .image_border_8{
    position: absolute;
    bottom: -30px;
    right: -19px;
}
.wrap_4 .inner{
    float: left;
    height: 260px;
    display: block;
    width: 2px;
    border-right: 2px dotted #d5d5d5;
    margin: 0 20px;
}
.wrap_4 .left_wrap{
    float: left;
    width: 54%;
}
.wrap_4 .right_wrap{
    float: right;
    width: 42%;
}
#history .wrap_4 p{
   margin-bottom: 10px;
}
.wrap_4 b{
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 150px;
}
.wrap_4 .left_wrap img{
    padding: 10px 20px 10px 0px;
}
.wrap_4 .right_wrap img{
    padding: 20px 30px 15px 0;
}
.map_amata{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    z-index: 4;
    width: 1140px;
}

.map_amata b{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.map_amata img{
    width: 100%;
}
.wrap_5{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    z-index: 6;
}
#history .wrap_5 .left_wrap p,
#history .wrap_5 .right_wrap p{
    margin-bottom: 10px;
}
.wrap_5 .image_border_9{
    position: absolute;
    top: -29px;
    left: -14px;
}
.wrap_5 .image_border_10{
    position: absolute;
    top: -29px;
    right: -18px;
}
.wrap_5 .image_border_1{
    position: absolute;
    bottom: -27px;
    left: -19px;
}
.wrap_5 .image_border_11{
    position: absolute;
    bottom: -28px;
    right: -18px;
}
.wrap_5 b{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
#history .wrap_5 p{
  overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: normal;
/*  word-break: break-all;  */
  line-break: auto;  /* нет поддержки для русского языка */
 -webkit-hyphens: none; -ms-hyphens: none; hyphens: none;  /* значение auto не поддерживается Chrome */
}
.wrap_5 .top_wrap img{
    padding: 25px 25px 25px 0;
}
.wrap_5 .inner_bottom{
    float: left;
    width: 100%;
    display: block;
    height: 2px;
    border-bottom: 2px dotted #d5d5d5;
    margin-bottom: 20px;
}
.wrap_5 .left_wrap{
    float: left;
    width: 31%;
}
.wrap_5 .left_wrap img{
    padding: 10px 21px;
}
.wrap_5 .center_wrap{
    float: left;
    width: 31%;
}
.wrap_5 .center_wrap img{
    padding: 25px 21px;
}
.wrap_5 .right_wrap{
    float: left;
    width: 31%;
}
.wrap_5 .right_wrap img{
    padding: 10px 20px;
}
.wrap_5 .inner{
    float: left;
    height: 210px;
    display: block;
    width: 2px;
    border-right: 2px dotted #d5d5d5;
    margin: 0 17px;
}


.wrap_7{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    z-index: 4;
}
.wrap_7 .image_border_12{
    position: absolute;
    bottom: -32px;
    left: -17px;
}
.wrap_7 .image_border_13{
    position: absolute;
    bottom: -24px;
    right: -28px;
}
.wrap_7 > img{
    padding: 0px 50px;
}
.wrap_7 > p{
    margin-bottom: 0;
    margin-top: 22px;
}
.wrap_8{
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 10px;
    width: 1142px;
}
.wrap_8 .image_border_14{
    position: absolute;
    bottom: -26px;
    left: -19px;;
}
.wrap_8 .image_border_15{
    position: absolute;
    bottom: -24px;
    right: -18px;
}
.wrap_8 .top_wrap{
    width: 200px;
    margin: 0 auto;
    padding-right: 76px;
}
.wrap_8 .top_wrap b{
    text-align: center;
    display: block;
    padding-top: 15px;
}
.wrap_8 .top_wrap span{
    font-family: 'Bemount';
    color: #aaaaaa;
    font-size: 26px;
}
.wrap_8 .date_day{
    position: absolute;
    left: 50%;
    margin-left: -501px;
}
.wrap_8 .date_text{
    height: 210px;
    padding-left: 220px;
}
.wrap_8 .date_text li{
    float: left;
    margin: 50px 47px 50px 0;
}

.wrap_8 .date_text li:nth-child(1) b{
    width: 120px;
    display: block;
    padding-left: 60px;
    padding-bottom: 53px;
}
.wrap_8 .date_text li:nth-child(2) b{
    display: block;
    padding-bottom: 73px;
}
.wrap_8 .date_text li:nth-child(3) b{
    display: block;
    margin-left: 60px;
    padding-bottom: 73px;
}
.wrap_8 .date_text li:nth-child(4) b{
    display: block;
    margin-left: 60px;
    padding-bottom: 73px;
}
#history .wrap_8 .date_text li b:hover{
    color: #000!important;
    cursor: pointer;
}
.wrap_8 .wrap_test > b{
    display: block;
    clear: both;
    text-align: center;
    margin: 40px 0 20px;
}
.wrap_8 .date_1 .bottom_wrap{
   float: left;
   height: 400px;
}
.wrap_8 .date_1 .bottom_wrap img{
    padding: 70% 25px 30px 0;
}
.wrap_8 .date_2 .bottom_wrap{
   float: left;
   height: 210px;
}
.wrap_8 .date_2 .bottom_wrap img{
    padding: 40% 25px 30px 0;
}
.wrap_8 .date_3 .bottom_wrap{
   float: left;
   height: 170px;
}
.wrap_8 .date_3 .bottom_wrap img{
    padding: 10% 25px 30px 0;
}
.wrap_8 .date_4 .bottom_text{
    position: relative;
    right: 40px;
    width: 1190px;
}
.wrap_8 .date_4 .bottom_wrap{
   float: left;
   height: 170px;
}
.wrap_8 .date_4 .bottom_wrap img{
    padding: 10% 0px 30px 0;
}

.wrap_8 .bottom_text li{
    color: #aaa;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.5;
}
.wrap_8 .bottom_text li span{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
}
.wrap_8 .wrap_test{
    display: none;
}
.wrap_8 .date_1{
    display: block;
}

#history .wrap_8 p{
    margin-bottom: 15px;
}
#question_form{
    clear: both;
}
#question_form hr{
    display: none;
}

  /*Наша миссия*/

.wrap_missi_1 .logo_img{
   padding-right: 70px;
}
.wrap_missi_1 .one_img{
   float: right;
   padding-bottom: 50px;
}
.wrap_missi_1 > p{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    clear: right;
}
.wrap_missi_1 .two_img{
    margin-top: 30px;
}
.wrap_missi_2 {
    clear: both;
    margin-top: 40px;
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 20px;
    z-index: 1;
    margin-top: 40px;
}
.wrap_missi_2 .image_border_1 {
    position: absolute;
    top: -20px;
    left: -19px;
}
.wrap_missi_2 .image_border_2 {
    position: absolute;
    top: -26px;
    right: -19px;
}
.wrap_missi_2 b {
    color: #aaaaaa;
    font-family: 'MuseoSansCyrl-500';
    font-size: 16px;
    text-align: center;
    width: 68%;
    display: block;
    float: right;
    padding-right: 15%;
}
.wrap_missi_2 > p{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 31px;
    margin-bottom: 10px;
}
.wrap_missi_2 .inner {
    float: left;
    height: 440px;
    display: block;
    width: 2px;
    border-right: 2px dotted #d5d5d5;
    margin: 0 25px;
}
.wrap_missi_2 > img{
    padding: 0px 40px 0 0;
}
.wrap_missi_3 {
    clear: both;
    margin-top: 10px;
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 20px;
    z-index: 2;
    float: left;
}
.wrap_missi_3 .image_border_5 {
    position: absolute;
    bottom: -27px;
    left: -19px;
}
.wrap_missi_3 .image_border_6 {
    position: absolute;
    bottom: -25px;
    right: -20px;
}
.wrap_missi_3 .image_border_3 {
    position: absolute;
    top: -22px;
    left: -19px;
}
.wrap_missi_3 .image_border_4 {
    position: absolute;
    top: -25px;
    right: -19px;
}
.wrap_missi_3 .left_wrap{
    width: 47%;
    float: left;
}
.wrap_missi_3 .right_wrap{
    width: 47%;
    float: right;
}
.wrap_missi_3 b {
    color: #aaaaaa;
    font-family: 'MuseoSansCyrl-500';
    font-size: 16px;
    text-align: center;
    width: 44%;
    display: block;
    float: right;
    padding-right: 15%;
}
.wrap_missi_3 div > p{
    color: #aaaaaa;
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    padding-top: 31px;
    margin-bottom: 10px;
}
.wrap_missi_3 .inner {
    float: left;
    height: 270px;
    display: block;
    width: 2px;
    border-right: 2px dotted #d5d5d5;
    margin: 0 25px;
}
.wrap_missi_3 div > img{
    padding: 10px 40px 20px 30px;
    float: left;
}