.jcarousel-wrapper {
 position: relative;
}

.jcarousel-wrapper li > a {
    margin: 0 15px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    width: 16.66%;
}

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-decoration: none !important;
    color: transparent !important;
    font-size: 1px;

}

.jcarousel-control-prev {
    left: 0;
}

.jcarousel-control-next {
    right: 0;

}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    display: none !important;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 30px;
    left: 0;
    width:100%;
    text-align: center;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    background: #A4B5C0;
    color: transparent;
    border-radius: 50%;
    margin: 0 4px;
    width: 11px;
    height: 11px;
    cursor: pointer;
}

.jcarousel-pagination a.active {
    background: #000;
}
