div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.bordered-image {
    border: 1px solid #d8d8d8;
    padding: 1px;
    margin: 5px;   
}

.image {
    display: inline-block; 
    overflow: hidden;   
}

.image-name {
    width: 240px;
    height: 50px; 
    color: #9a9a9a;
    font: 16px/1 'MuseoSansCyrl-500';    
    padding-left: 5px;
    text-align: center;   
}
