.bx_news {list-style: none !important;}
.bx_news{
	font-size: 80%;
}

.bx_news h3{font-size:24px}
.bx_news h3{margin-top:20px;margin-bottom:10px}

.bx_news p{margin:0 0 10px}

.bx_news .date {
	color: #8f8f8f;
	display: inline-block;
	font-size: 14px;
	padding: 10px 0;
}

.bx_news h3 a:link {
	color: #0073a3;
	font-size: 16px;
}
.bx_news a {
	color: #0073a3;
	cursor: pointer;
}

.bx_news h3 {
	display: inline-block;
	margin-top: 15px;
	font-size: 18px;
	margin-bottom: 0;
	font-weight: bold;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:1.1;
	color:inherit;
}
.infoNewsList .green{
    background-color: green;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.infoNewsList .red{
    background-color: red;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.innerPageWrapper .infoNewsList li > span{
    color: #5a5a5a;
    font-family: "MuseoSansCyrl-500";
    font-size: 13px;
    padding-bottom: 8px;
}
.date_validity{
    float: right;
}