.elementQuant .plus {    
    background: url("images/topOrderQuant.png") no-repeat scroll 7px 5px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-top-right-radius: 4px;
    display: block;
    height: 15px;
    margin-right: 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 19px;
}

.elementQuant .plus:hover {
    background-image: url("images/topOrderQuantHover.png"); 
}


.elementQuant .minus {
    background: url("images/bottomOrderQuant.png") no-repeat scroll 7px 5px;
    border-bottom: 1px solid #dddddd;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #dddddd;
    bottom: 0;
    display: block;
    height: 16px;
    margin-right: 3px;
    position: absolute;
    right: 0;
    width: 19px;
}

.elementQuant .minus:hover {
    background-image: url("images/bottomOrderQuantHover.png");
}

.old_price {
    color: #ccc !important;
    font-size: 14px !important;
    text-decoration: line-through;
}

.basketBody .elementName .elementTitle {
    max-width:300px;
}

.basketBody .elementName div {
    height:100% !important;
    border:none !important;
    width: 70px !important;
    float: left;  
    overflow: hidden; 
    margin-left: 28px;   
    margin-right: 24px;
}

.basketBody .elementName div a {      
    display:block;
    border: 1px solid #e0e0e0;
    border-radius: 60px;
    font-size: 0;
    height: 68px;
    line-height: 68px;     
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 68px;   
    margin-top: 17px;        
}

.bx_ordercart_coupon, .empty_basket {
    font-size: 14px !important;
    font-family: "MuseoSansCyrl-500";
}

span.rub {
    position: relative !important;
}

.basketBody .elementName .elemendCode {
    margin: 8px 0 !important;
}

.viewedBlock {
    border-top: none !important;
}